body {
  height: 100%;
  background-color: #000;
  color: #27ffae;
  font-family: monospace;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(39, 255, 174, 0.15),
    rgba(39, 255, 174, 0.15) 2px,
    transparent 2px,
    transparent 4px
  );
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.typewriter {
  display: block;
  white-space: normal;
  overflow: hidden;
  position: relative;
  animation: typing 2s steps(120, end);
}

#mission-board {
  height: 100%;
  width: 351px;
  padding-left: 2rem;
}

.login {
  display: block;
  width: 70%;
  height: 90%;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #27ffae;
  box-shadow: 0 0 10px #27ffae;
  text-align: center;
}

.textinput {
  width: 10%;
  border: 2px solid #27ffae;
  box-shadow: 0 0 10px #27ffae;
  background-color: #000;
  color:#27ffae;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

#scroll-container {
  height: 100%;
  width: 420px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#scroll-container::-webkit-scrollbar {
  display: none;
}

.mission-card {
  background: rgba(0, 255, 0, 0.1);
  border: 2px solid #27ffae;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 0 0 10px #27ffae;
  width: 300px;
  text-align: left;
}

.mission-card:hover {
  background: #27ffae;
  color: #000;
  box-shadow: 0 0 10px #27ffae;
  transform: scale(1.1);
  transform-origin: center;
  transition: all 0.2s ease;
}

#mission-detail {

  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  border: 2px dashed #27ffae;
  box-shadow: 0 0 10px #27ffae;
  text-align: left;

}

td {
  vertical-align: top;
}

.music-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1rem;
  color: #27ffae;
  cursor: pointer;
  z-index: 9999;
}
.music-button:hover {
  color: #fff;
}

#boot-screen {
background: black;
color: #00ff88;
font-family: monospace;
padding: 20px;
height: 100vh;
overflow-y: auto;
white-space: pre-wrap;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
}

.fade-out {
  animation: fadeOut 2s ease-out forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
